.main {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  background-color: #fff;
  padding: auto;
  margin: auto;
  
  
}


.navmenu {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 95%;
  margin: 2%;
  margin-top: 8%;
  margin-bottom: 50%;
  z-index: 2;
  font-family: var(--font-mono);
  
}



.navmenuClienteYProductos {
  display: flex;
  flex-direction: row; /* Establece la dirección como fila (en línea) */
  align-items: center;
  font-size: 0.85rem;
  width: auto;
  margin: 3%;
  margin-left: 3%;
  z-index: 2;
  font-family: var(--font-mono);
  justify-content: space-between;
  
}


.navmenuClienteYProductos ul{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}





.container {

  width: 95%;
  height: 100%;
  overflow: auto; /* Esto permitirá la barra de desplazamiento cuando sea necesario */


}
 

.ventaderecha {
  font-size: 0.85rem;
  font-family: var(--font-mono);
  margin: 3%;
  margin-left: 6%;
padding: auto;;
  width: auto;
  font-family: var(--font-mono);
  border: 2p solid red;
  color: #fed700;
}



.navBar {
  display: flex;
  justify-content: right;
  
  width: 100%;
  
  height: 20%;
  padding: 0% !important;
  margin: 0%;
  z-index: 2;
  font-family: var(--font-mono);
  background-color: #fed700
}
.nav{

  display: flex;
  width: 100%;

}


.navBar img{
  margin: auto;
  margin-left: 2%;
  
}



.navmenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2%;

  width: 40%;
  
  border: 2px solid red;
  border-radius: 1px;
  padding: 10px 15px; /* Espaciado dentro del borde (ajusta según sea necesario) */
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */

  color: #fff; /* Color del texto (blanco en este caso) */
  background-color: rgba(var(--callout-rgb), 0.5); 
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
  font-weight: bold; /* Texto en negrilla */
  font-size: 16px;
  border-color: black;
}

.navmenu  li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.navmenu a:hover {
  background-color: #fed700; /* Cambia el color de fondo a rojo al pasar el mouse */
  color: #000; /* Cambia el color del texto a negro al pasar el mouse */
  font-weight: bold; /* Texto en negrilla */
  border-radius: 5px; /* Bordes redondeados */

}


.navmenuClienteYProductos a.grow:hover {
  transform: scale(1.05); /* Hace que el enlace crezca ligeramente */
}


.navmenuClienteYProductos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2px;
  width: 200px;
  height: 45px;
  
  border: 2px solid red;
  border-radius: 1px;
  padding: 10px 15px; /* Espaciado dentro del borde (ajusta según sea necesario) */
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */

  color: #fff; /* Color del texto (blanco en este caso) */
  background-color: rgba(var(--callout-rgb), 0.5); 
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
  font-weight: bold; /* Texto en negrilla */
  font-size: 16px;
  border-color: black;
}

.navmenuClienteYProductos  li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.navmenuClienteYProductos a:hover {
  background-color: #fed700; /* Cambia el color de fondo a rojo al pasar el mouse */
  color: #000; /* Cambia el color del texto a negro al pasar el mouse */
  font-weight: bold; /* Texto en negrilla */
  border-radius: 5px; /* Bordes redondeados */

}



.navmenuClienteYProductos a.grow:hover {
  transform: scale(1.05); /* Hace que el enlace crezca ligeramente */
}







.FormPedidos{

  color: #fed700;

  width: auto;
  font-family: var(--font-mono);

}

.FormPedidos h1{

  color: rgb(32, 31, 31);
}


.FormPedidos a{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2%;
  margin-left: 0%;
  width: 30%;
  
  border: 2px solid black;
  border-radius: 1px;
  padding: 10px 15px; /* Espaciado dentro del borde (ajusta según sea necesario) */
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */

  color: #fff; /* Color del texto (blanco en este caso) */
  background-color: rgba(var(--callout-rgb), 0.5); 
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
  font-weight: bold; /* Texto en negrilla */
  font-size: 16px;
  border-color: black;

}


.FormPedidos a:hover {
  background-color: #fed700; /* Cambia el color de fondo a rojo al pasar el mouse */
  color: #000; /* Cambia el color del texto a negro al pasar el mouse */
  font-weight: bold; /* Texto en negrilla */
  border-radius: 5px; /* Bordes redondeados */

}

.FormPedidos p{

  color: black;
  font-weight: bold;
  font-family: var(--font-mono);
  font-size: 20px;
  padding: auto;
 margin-right: 5%;
}



.FormPedidos input{
border: 1px solid rgb(116, 113, 113);

}

.FormPedidos select{
  border: 1px solid rgb(116, 113, 113);
  
  }

.FormPedidos span{

width: 28%;
background-color: white;
color: black;
border-color: #000;
padding: auto;
font-family: var(--font-mono);
}


.TablePedidos{
  font-family: 10px var(--font-mono);

    color: var(--bs-emphasis-color);
    border-color: var(--bs-border-color);
    
    word-wrap: break-word !important;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle; 
    border-color: var(--bs-table-border-color);
    text-align: justify;
    cursor: pointer; /* Cambia el cursor al estilo de selección */
}

.tabledark{
background-color: rgb(219, 6, 6) !important;

}


.linkCancelar{

  background-color: rgb(223, 71, 71) !important;
}

.FormPedidos  li{
 
list-style-type: none;
  padding: 0%;
  margin: 0%;
}
    
.FormPedidos  ul{
 
list-style-type: none;
  padding: 0%;
  margin: 0%;
}
        

.FormPedidos select{

  color: #5c594b;
}


.flooter{
  color: black; /* Color del texto (blanco en este caso) */
  display: flex;
  justify-content: center;
  

}


.flooter a {
  gap: 0.5rem;
  width: 150%;
  height: 5%;
  border-radius: 1px;
  padding: 10px 15px; /* Espaciado dentro del borde (ajusta según sea necesario) */
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  color: black; /* Color del texto (blanco en este caso) */
  
}


.ajusteCarrito{


  display: flex;
  justify-content: space-between;

}


.btnAtrasAdelante{

  display: flex;
}


.inputCantidad{
  align-items: center;
  color: black; 
  background: white;
  border-radius: 5px;
  height: 40px;
}


.inputCantidad :hover{

  font-weight: bold; /* Texto en negrilla */
  border-radius: 5px; /* Bordes redondeados */
border-color: #fed700 !important;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}


@media screen and (max-width: 768px) {


  .navmenuClienteYProductos{
    display: none;
  }


.TablePedidos{

  padding: 5%;
  margin-right: 8px;
  font-size: 2px;
}

}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
